<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.fin.owner.model.dao.OwnerDao">
	<insert id="insertStore">
		INSERT INTO STORE
		VALUES (
			SEQ_STORE.NEXTVAL,
 			#{category},
			#{storeName},
			#{address},
			#{phone},
			#{openTime},
			#{closeTime},
			#{minPrice},
			#{dayOff},
			#{content}
		)
	</insert>
	
	<insert id="insertMenuGroup">
		INSERT INTO MENU_GROUP
		VALUES (
			SEQ_CATEGORY.NEXTVAL,
			#{storeNo},
			#{groupName}
		)
	</insert>
</mapper>