<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.fin.owner.model.dao.OwnerDao">
	<resultMap type="owner" id="ownerMap"></resultMap>
	
	<select id="selectOneOwner" resultMap="ownerMap">
		select *
			from OWNER
		where owner_id = #{ownerId}
	</select>

	<insert id="insertStore">
		INSERT INTO STORE
		VALUES (
			#{storeNo},
			#{businessNumber},
 			#{category},
			#{storeName},
			#{address},
			#{phone},
			#{openTime},
			#{closeTime},
			#{minPrice},
			#{dayOff},
			#{content}
		)
	</insert>
	
	<insert id="insertOwner">
		INSERT INTO OWNER
		VALUES (
			SEQ_STORE.NEXTVAL,
 			#{ownerId},
			#{ownerPwd},
			#{ownerName},
			#{ownerBirthday},
			#{phone},
			#{address},
			#{businessNumber}
		)
	</insert>
	
	<insert id="insertMenuGroup">
		INSERT INTO MENU_GROUP
		VALUES (
			SEQ_CATEGORY.NEXTVAL,
			#{storeNo},
			#{groupName}
		)
	</insert>
	
	<insert id="insertMenu">
		INSERT INTO MENU
		VALUES (
			SEQ_MENU.NEXTVAL,
			#{storeNo},
			#{categoryNo},
			#{menuName},
			#{price}
		)
	</insert>
	
	
</mapper>